---
export interface Props {
    title: string;
    description: string;
    source: string;
}

const { title, description, source } = Astro.props;
---

<div class="chart-container">
    <div class="chart-content">
        <h1 class="header-m">{ title }</h1>
        <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem itaque, exercitationem delectus officiis harum libero dolore dignissimos nulla repellat rerum a dolores voluptate sit eos ut accusamus porro odio et!</p>
        <div class="chart"></div>
        <p class="source">Source: { source }</p>
        <div class="notes">
            <slot />
        </div>
    </div>
</div>

<style>
    .chart-container {
        border-top: 1px solid var(--color-border);
        border-bottom: 1px solid var(--color-border);
        margin: 56px 0;
        padding: 32px 0;
    }

    .chart-content h1 {
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 16px;
    }

    .description {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-secondary-text);
        margin-bottom: 24px;
    }

    .chart {
        border: 1px dashed var(--color-border);
        border-radius: 16px;
        height: 256px;
    }

    hr {
        border: 0;
        border-bottom: 1px solid var(--color-border);
        margin: 0;
    }

    .source {
        font-size: 16px;
        margin: 32px 0 0;
    }
</style>