---
import Breadcrumbs from '../Breadcrumbs.astro';
import RecentArticles from '../Article/RecentArticles.astro';

export interface Props {
    title: string;
    publishDate: string;
    summary: string;
}

const { title, publishDate, summary } = Astro.props;

const breadcrumbs = [
    {
        "name": "Home",
        "href": "/"
    },
    {
        "name": "Articles",
        "href": "/articles/"
    }
]
---

<header>
    <div class="govuk-container">
        <Breadcrumbs breadcrumbs={ breadcrumbs } />

        <div class="header-content">
            <div class="article-summary">
                <h1 class="heading-xl">{ title }</h1>
                <!-- <p>{ publishDate }</p> -->
                <p class="summary">{ summary }</p>
            </div>
            <div class="recent-articles">
                <RecentArticles />
            </div>
        </div>
    </div>
</header>

<style>
    header {
        background: var(--color-light-grey);
        padding: 72px 0 64px;
        margin-bottom: 64px;
    }

    .header-content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 48px;
    }

    @media screen and (max-width: 768px) {
        .header-content {
            display: block;
        }
    }

    h1 {
        margin-bottom: 32px;
    }

    .summary {
        font-size: 24px;
        line-height: 32px;
        margin: 0;
    }

    @media screen and (max-width: 768px) {
        .recent-articles {
            display: none;
        }
    }
</style>