---
import ArticleHeader from '../Article/ArticleHeader.astro';

export interface Props {
    title: string;
    summary: string;
    publishDate: string;
}

const { title, summary, publishDate } = Astro.props;
---

<div class="layout">
    <article class="content">
        <ArticleHeader title={ title } publishDate={publishDate} summary={summary} />

        <main>
            <slot />
        </main>
    </article>
</div>