---
export interface Props {
    title: string;
    summary: string;
    publishDate: string;
}

const { title, summary, publishDate } = Astro.props;


---

<div class="layout">

    <section class="content govuk-container">
        <h1 class="heading-xl">{ title }</h1>

        <slot />
    </section>
</div>