---
export interface Props {
    heading: string;
    description: string;
    callToAction: string;
    href: string;
    heroImage: string;
}

const { heading, description, callToAction, href, heroImage } = Astro.props;
---

<section class="page-hero">
    <div class="govuk-container">
        <div class="hero-content">
            <div class="summary">
                <h1 class="heading-xl">{ heading }</h1>
                <p>{ description }</p>
                <a href={href} class="btn">{ callToAction }</a>
            </div>
            <div class="hero-image" style={"background-image: url(" + heroImage + ")"}></div>
        </div>
    </div>
</section>

<style>
    .page-hero {
        background-color: var(--color-brand);
        color: var(--color-white);
        max-height: 512px;
    }

    .hero-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 48px;
    }

    @media screen and (max-width: 768px) {
        .hero-content {
            display: block;
        }
    }

    .summary {
        padding: 56px 0 96px;
    }

    .hero-image {
        background-size: cover;
        background-position: center center;
    }

    @media screen and (max-width: 768px) {
        .hero-image {
            display: none;
        }
    }

    h1 {
        margin-bottom: 16px;
    }

    p {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 32px;
    }

    @media screen and (max-width: 768px) {
        .p {
            font-size: 19px;
            line-height: 24px;
        }
    }

    .btn {
        font-family: 'GDS Transport Bold', sans-serif;
        font-size: 24px;
        line-height: 24px;
        background-color: var(--color-white);
        border: 0;
        color: var(--color-brand);
        padding: 8px 16px;
        text-decoration: none;
    }

    @media screen and (max-width: 768px) {
        .btn {
            font-size: 19px;
            line-height: 24px;
        }
    }
</style>