---
export interface Props {
    heading: string;
    description: string;
    callToAction: string;
    href: string;
    heroImage: string;
}

const { heading, description, callToAction, href, heroImage } = Astro.props;
---

<section class="page-hero">
    <div class="govuk-container">
        <div class="hero-content">
            <div class="summary">
                <div class="hero-header">
                    <h2>Latest article</h2>
                    <h1 class="heading-xl">{ heading }</h1>
                </div>
                <p>{ description }</p>
                <a href={href} class="btn">{ callToAction }</a>
            </div>
        </div>
    </div>
    <div class="hero-image" style={"background-image: url(" + heroImage + ")"}></div>
    <div class="overlay"></div>
</section>

<style>
    .page-hero {
        background: var(--color-brand);
        color: var(--color-white);
        position: relative;
    }

    .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(90deg, #1D70B8 0%, #1D70B8 44%, rgba(29, 112, 184, 0) 100%);
        z-index: 10;
    }

    .hero-content {
        position: relative;
        z-index: 50;
        width: 50%;
        gap: 48px;
    }

    .hero-header {
        margin-bottom: 16px;
    }

    @media screen and (max-width: 768px) {
        .hero-content {
            display: block;
        }
    }

    .summary {
        padding: 56px 0 96px;
    }

    @media screen and (max-width: 768px) {
        .summary {
            padding: 32px 0 96px;
        }
    }

    .hero-image {
        position: absolute;
        width: calc(50vw + 128px);
        height: 100%;
        top: 0;
        right: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        filter: saturate(0);
        mix-blend-mode: screen;
    }

    @media screen and (max-width: 768px) {
        .hero-image {
            display: none;
        }
    }

    p {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
    }

    @media screen and (max-width: 768px) {
        p {
            font-size: 19px;
            line-height: 24px;
        }
    }

    .btn {
        font-family: 'GDS Transport Bold', sans-serif;
        font-size: 24px;
        line-height: 24px;
        background-color: var(--color-white);
        border: 0;
        color: var(--color-brand);
        padding: 8px 16px;
        text-decoration: none;
    }

    @media screen and (max-width: 768px) {
        .btn {
            font-size: 19px;
            line-height: 24px;
        }
    }
</style>