---
export interface Props {
    subheading: string;
    heading: string;
    chartImg: string;
    link: string;
}

const { subheading, heading, chartImg, link } = Astro.props;
---

<div class="tile">
    <div class="content">    
        <h1>{ subheading }</h1>
        <h2 class="heading-s">{ heading }</h2>
        <img src={chartImg} alt="" />
        <div class="figures">
            <div>
                <label>1884</label>
                <span>7.8</span>
            </div>
            <div>
                <label>2020</label>
                <span>9.3</span>
            </div>
        </div>
    </div>
    <a href={ link }>View all { subheading.toLowerCase() } data</a>
</div>

<style>
    .tile {
        display: flex;
        flex-direction: column;
        background-color: var(--color-light-grey);
        width: 100%;
        padding: 16px 16px 8px;
        box-sizing: border-box;
    }

    .content {
        flex-grow: 1;
        align-content: space-between;
    }

    h1 {
        color: var(--color-secondary-text);
        font-family: 'GDS Transport', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    img {
        margin: 16px 0;
    }

    .figures {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .figures div:last-child {
        text-align: right
    }

    .figures label {
        display: block;
        color: var(--color-secondary-text);
        font-size: 16px;
    }

    .figures span {
        font-family: 'GDS Transport Bold', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: var(--color-brand);
    }

    a {
        box-sizing: border-box;
        width: calc(100% + 32px);
        margin-left: -16px;
        padding: 8px 16px 0;
        display: block;
        font-size: 16px;
        font-family: 'GDS Transport Bold', sans-serif;
        font-weight: 700;
        border-top: 1px solid var(--color-border);
        text-decoration: none;
    }
</style>