---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section>
    <h1 class="heading-m">{ title }</h1>
    <slot />
</section>

<style>
  h1 {
    margin-bottom: 24px;
  }

  section {
		border-top: 4px solid var(--color-brand);
		padding-top: 16px;
    margin-bottom: 40px;
  }
</style>