---
import RelatedLinks from '../../data/relatedLinks.json';
import RelatedLink from '../RelatedLinks/RelatedLink.astro';
---

<section>
    <h1 class="heading-m">Related links</h1>
    {RelatedLinks.map((relatedLink) => <RelatedLink title={relatedLink.title} href={relatedLink.href} description={relatedLink.description} />)}
</section>

<style>
    h1 {
		margin-bottom: 24px;
	}

  section {
		border-top: 4px solid var(--color-brand);
		padding-top: 16px;
  }
</style>